* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.navbox {
    background-color:black;
    display: flex;
    justify-content: space-between;

    padding: 0 231px;
    height: 75px;
    
}
.navbox-left {

    display: flex;
    align-items: center;
    width: 111px;
    justify-content: space-between;
}
.navbox-right {
    display: flex;
    align-items: center;
    width: 168px;
    justify-content: space-between;
}
.top__info {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 8.69%;

    height: 764px;
    flex-grow: 1;
    background-size: 100%;
    background: #F1E4E6;
    background-image: url(images/Layer_57-removebg-preview\ 1man.png);/*  I made background-image and not just tag "img" cuz i wonted to try something different */
    background-repeat: no-repeat;
   background-position: left center;
}
.body {
    padding-top: 65px;

}
.top__line {
    height: 92px;
    width: 12px;
    background: rgba(241, 109, 127, 1);
}
.top__heading {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding-left: 16px;
}
.top__cards {
    display: flex;
    justify-content: space-between;
    height: 260px;
    padding-bottom: 30px;
}

